body {
    margin: 0;
    padding: 0;
}

/* Token box design */
.tokenBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*In Default display will be none */
#display {
    visibility: hidden;
}

video {
    object-fit: fill;
}


/* Virtual keyboard */
#virtualKeyboard {
    position: absolute;
    visibility: hidden;
    z-index: 1;
    bottom: 0;
    width: 100%;
}

/* Mouse Guestures */
#guester{
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

#oneClick {
    padding: 5px;
    border: 1px solid black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    overflow: hidden;
    color: black;
}

#twoClick {
    padding: 5px;
    border: 1px solid black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    overflow: hidden;
    color: black;
}

#toggleKeyboard {
    padding: 5px;
    border: 1px solid black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    overflow: hidden;
    color: black;
}
